nav.sidebar {
  z-index: 999;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: center;

  transition: all 0.1s ease-in-out;

  max-width: 0rem;

  .buttons-container,
  span {
    visibility: hidden;
    background: transparent;
  }

  &.expanded {
    max-width: 24rem;
    background: var(--background2);
    .buttons-container,
    span {
      visibility: visible;
    }
  }

  width: 100%;

  padding: 2rem;

  > span {
    margin-bottom: 4.5rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--yellow);

    p {
      display: inline;
      color: var(--white);
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
}

.sidebar_expand-btn {
  width: 50px;
  height: 50px;
  margin-right: auto;
  cursor: pointer;

  svg {
    width: 30px;
    height: 50px;
  }
}
